.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    background: #2874f0;
    padding: 5px;
}
.header a {
    text-decoration: none;
    color: #fff;
}
.header__left {
    display: flex;
    align-items: center;
    flex: 0.6;
}
.header__logoBox {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-content: center;
}
.header__logo {
    width: 75px;
    object-fit: contain;
}
.header__explore {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-style: italic;
    font-size: 12px;
}
.header__explore > span {
    color: #d2cd32;
    padding-left: 2px;
}
.header__exploreLogo {
    width: 10px;
    object-fit: contain;
}
.header__searchBox {
    display: flex;
    align-items: center;
    background: #ffff;
    padding: 3px 15px;
    flex: 0.7;
    margin-left: 10px;
    border-radius: 2px;
}
.header__searchInput {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}
.header__searchButton {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 10px;
}
.header__searchButton > .MuiSvgIcon-root {
    color: #2874f0;
}
.header__searchButton > .MuiSvgIcon-root:hover {
    color: #1063e9;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__userMenu {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.header__link {
    text-decoration: none;
    color: black;
}
.header__link:hover {
    color: black;
    text-decoration: none;
}
.header__userMenuItem {
    font-size: 16px;
}
.header__userMenuItem > .MuiSvgIcon-root {
    margin-right: 10px;
    color: #2874f0;
}
.header__userMenu > .MuiSvgIcon-root {
    align-self: flex-end;
}
.header__loginButton {
    border: none;
    outline: none;
    padding: 4px 32px;
    color: #2874f0;
    background: #fff;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
}
.header__cart {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
