.profile {
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.profile__section {
    padding-bottom: 1.5rem;
}
.profile__sectionTitle {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.profile__sectionTitle > h4 {
    font-size: 18px;
    font-weight: 500;
}
.profile__sectionTitle > p {
    color: #2874F0;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 14px;
    align-self: center;
}
.profile__sectionForm div{
    display: flex;
    align-items: center;
}
.profile__sectionForm input {
    padding: 10px;
    font-size: 16px;
    margin: 1rem;
    padding-top: 1rem;
    position: relative;
}
.profile__personalForm {
    position: relative;
}
.firstnameLabel {
    position: absolute;
    left: 30px;
    top:28px;
    transition: all 0.2s;
    color: gray;
    font-weight: 500;
}
.lastnameLabel {
    position: absolute;
    left: 279px;
    top:30px;
    transition: all 0.2s;
    color: gray;
    font-weight: 500;
}
.firstnameLabel--active {
    font-size: 10px;
    top: 18px;
    left: 28px;
    color: #2874F0;
}
.lastnameLabel--active {
    font-size: 10px;
    top: 18px;
    left: 280px;
    color: #2874F0;
}
.profile__sectionForm button {
    background: #2874F0;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 3px;
    height: 2.8rem;
}